/*
 styles Build Your Own Website The Right Way Using HTML & CSS
 h1 styles


*/



body {
 font-family: Verdana, Helvetica, Arial, sans-serif;
 background-color: #e2edff;
 line-height: 125%;
 padding: 15px;
}

h1, h2, h3 {
 font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
 background-color: navy;
 color: white;
}

li {
 font-size: small;
}

h2 {
 color: blue;
 font-size: medium;
 font-weight: normal;
}

p {
 font-size: small;
 color: navy;
}


em {
 font-style: normal;
 text-transform: uppercase;
}


a {
 font-weight: bold;
}

a:link {
 color: black;
}

a:visited {
 color: gray;
}

a:hover {
 text-decoration: none;
 color: white;
 background-color: navy;
}

a:active {
 color: aqua;
 background-color: navy;
}

.fun {
 font-family: Georgia, Times, serif;
 color: #339999;
 letter-spacing: 0.05em;
}

blockquote.fun {
 font-style: italic;
}